// Floating Noctalia settings window.
// source: https://docs.noctalia.dev/v5/compositor-settings/niri/?section=compositor-settings#compositor-settings
window-rule {
  match title="Settings"
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}
